<a href="https://colab.research.google.com/github/Many98/real_estate/blob/criminality/notebooks/Preparation_crime_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import xarray as xr
import datetime 

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('/content/drive/MyDrive/reality/criminality.csv', sep=',', delimiter=None, encoding="utf8")
df_nopred = pd.read_csv('/content/drive/MyDrive/reality/dataset_2.csv', sep=',', delimiter=None, encoding="utf8")

In [ ]:
df.head()

,id,x,y,date,types
0,9459,14.506315,50.078251,2012-11-01T12:15:00.0000+01:00,krádeže součástek aut
1,9504,14.352074,50.074896,2012-01-04T12:24:00.0000+01:00,vloupání do rodinných domů
2,9504,14.352074,50.074896,2012-01-04T12:24:00.0000+01:00,krádeže motorových vozidel (jednostopových)
3,9516,14.424811,50.076587,2012-05-18T20:00:00.0000+02:00,krádeže součástek aut
4,9554,14.399052,50.033251,2012-10-26T14:57:00.0000+02:00,vloupání do rodinných domů

In [ ]:
df_nopred.columns

Index(['city_district', 'additional_disposition', 'air_quality', 'atm_dist',
       'built_density', 'bus_station_dist', 'construction_type', 'daily_noise',
       'date', 'desc_hash', 'description', 'disposition', 'doctor_dist',
       'electricity', 'electricity_txt', 'energy_effeciency', 'equipment',
       'floor', 'floor_area', 'gas', 'geometry', 'gp_ci_high_price',
       'gp_ci_low_price', 'gp_mean_price', 'gp_std_price', 'has_balcony',
       'has_cellar', 'has_garage', 'has_garden', 'has_lift', 'has_loggia',
       'has_parking', 'hash', 'header', 'heating', 'heating_txt',
       'kindergarten_dist', 'lat', 'long', 'name', 'nightly_noise',
       'no_barriers', 'note', 'ownership', 'pharmacy_dist', 'place',
       'playground_dist', 'post_office_dist', 'price', 'primary_school_dist',
       'restaurant_pub_dist', 'sports_field_dist', 'state',
       'subway_station_dist', 'sun_glare', 'supermarket_grocery_dist', 'tags',
       'telecomunication', 'telecomunication_txt', 'theatre_cinema_dist',
       'train_station_dist', 'tram_station_dist', 'transport', 'usable_area',
       'vet_dist', 'waste', 'waste_txt', 'year_reconstruction', 'park_dist'],
      dtype='object')

In [ ]:
df2 = df_nopred[df_nopred.columns.difference(['city_district', 'additional_disposition', 'air_quality', 'atm_dist',
       'built_density', 'bus_station_dist', 'construction_type', 'daily_noise',
       'date', 'desc_hash', 'description', 'disposition', 'doctor_dist',
       'electricity', 'electricity_txt', 'energy_effeciency', 'equipment',
       'floor', 'floor_area', 'gas', 'geometry', 'gp_ci_high_price',
       'gp_ci_low_price', 'gp_mean_price', 'gp_std_price', 'has_balcony',
       'has_cellar', 'has_garage', 'has_garden', 'has_lift', 'has_loggia',
       'has_parking', 'hash', 'header', 'heating', 'heating_txt',
       'kindergarten_dist', 'name', 'nightly_noise',
       'no_barriers', 'note', 'ownership', 'pharmacy_dist', 'place',
       'playground_dist', 'post_office_dist', 'price', 'primary_school_dist',
       'restaurant_pub_dist', 'sports_field_dist', 'state',
       'subway_station_dist', 'sun_glare', 'supermarket_grocery_dist', 'tags',
       'telecomunication', 'telecomunication_txt', 'theatre_cinema_dist',
       'train_station_dist', 'tram_station_dist', 'transport', 'usable_area',
       'vet_dist', 'waste', 'waste_txt', 'year_reconstruction', 'park_dist'])]

In [ ]:
df.describe(include='all')

,id,x,y,date,types
count,1.420260e+05,142026.000000,142026.000000,142026,142026
unique,NaN,NaN,NaN,130296,27
top,NaN,NaN,NaN,2020-07-09T15:41:00.0000+02:00,krádeže na osobách
freq,NaN,NaN,NaN,13,47110
mean,1.149821e+07,14.447862,50.074537,NaN,NaN
std,3.606041e+06,0.058023,0.031131,NaN,NaN
min,9.459000e+03,14.252392,49.945697,NaN,NaN
25%,8.618142e+06,14.419374,50.056977,NaN,NaN
50%,1.124758e+07,14.439100,50.077606,NaN,NaN
75%,1.393246e+07,14.480979,50.091109,NaN,NaN
max,1.970392e+07,14.696000,50.171682,NaN,NaN

In [ ]:
df.dtypes

id         int64
x        float64
y        float64
date      object
types     object
dtype: object

In [ ]:
df['date'] = pd.to_datetime(df['date'], utc = True)

In [ ]:
df.head()

,id,x,y,date,types
0,9459,14.506315,50.078251,2012-11-01 11:15:00+00:00,krádeže součástek aut
1,9504,14.352074,50.074896,2012-01-04 11:24:00+00:00,vloupání do rodinných domů
2,9504,14.352074,50.074896,2012-01-04 11:24:00+00:00,krádeže motorových vozidel (jednostopových)
3,9516,14.424811,50.076587,2012-05-18 18:00:00+00:00,krádeže součástek aut
4,9554,14.399052,50.033251,2012-10-26 12:57:00+00:00,vloupání do rodinných domů

In [ ]:
df['date'] = pd.to_datetime(df['date']).dt.date
df.head()

,id,x,y,date,types
0,9459,14.506315,50.078251,2012-11-01,krádeže součástek aut
1,9504,14.352074,50.074896,2012-01-04,vloupání do rodinných domů
2,9504,14.352074,50.074896,2012-01-04,krádeže motorových vozidel (jednostopových)
3,9516,14.424811,50.076587,2012-05-18,krádeže součástek aut
4,9554,14.399052,50.033251,2012-10-26,vloupání do rodinných domů

In [ ]:
df2 = df[df['date']>datetime.date(2017, 1, 1)]

In [ ]:
df2.head()

         id          x          y        date                       types
58  7917760  14.406693  50.068626  2017-01-02            vloupání do bytu
59  7917762  14.511259  49.995567  2017-01-02  vloupání do rodinných domů
60  7917787  14.437774  50.005458  2017-01-02       krádeže součástek aut
61  7917799  14.441282  50.125784  2017-01-02       krádeže součástek aut
62  7917812  14.305693  50.072810  2017-01-02       krádeže součástek aut

In [ ]:
df2.describe()

                 id              x              y
count  1.150870e+05  115087.000000  115087.000000
mean   1.259592e+07      14.448471      50.074510
std    3.083864e+06       0.057758       0.031165
min    7.917760e+06      14.252392      49.945697
25%    9.977744e+06      14.419587      50.056878
50%    1.232816e+07      14.440119      50.077875
75%    1.448050e+07      14.481332      50.090916
max    1.970392e+07      14.696000      50.169963

## Done cut of time

In [ ]:
print(df.types.unique())

['krádeže součástek aut' 'vloupání do rodinných domů'
 'krádeže motorových vozidel (jednostopových)' 'vloupání do bytu'
 'krádeže motorových vozidel (dvoustopových)' 'nebezpečné vyhrožování'
 'krádeže jízdních kol' 'nedovolené ozbrojování' 'krádeže na osobách'
 'loupež' 'úmyslné ublížení na zdraví' 'vloupání do prodejny'
 'vloupání do ubytovacích objektů' 'vloupání do restaurace'
 'dopravní nehody' 'obecné ohrožení' 'vražda' 'omezování osobní svobody'
 'výtržnictví' 'útok proti výkonu pravomoci stát. orgánu' 'vydírání'
 'rvačka' 'chladná zbraň' 'střelná zbraň'
 'násilí proti skupině/jednotlivci' 'obchod s lidmi' 'únos']

In [ ]:
# for crime in crimes:
#   print(crime)
# # nejhorší 10, 5, 3, 2, 1
# # discounting factor
# # 10 - únos, vražda,

In [ ]:
df['crime_idx'] = 0

In [ ]:
crime_lists = [['obecné ohrožení', 'dopravní nehody'],
               ['omezování osobní svobody', 'krádeže součástek aut',
                'krádeže motorových vozidel (jednostopových)', 
                'nebezpečné vyhrožování', 'krádeže jízdních kol', 
                'nedovolené ozbrojování', 'vloupání do restaurace',
                'vydírání', 'rvačka'],
               ['vloupání do rodinných domů', 'vloupání do bytu',
                'krádeže motorových vozidel (dvoustopových)', 'krádeže na osobách',
                'loupež', 'úmyslné ublížení na zdraví', 'vloupání do prodejny',
                'vloupání do ubytovacích objektů', 'výtržnictví', 
                'útok proti výkonu pravomoci stát. orgánu','chladná zbraň', 
                'střelná zbraň', 'násilí proti skupině/jednotlivci'],
               ['vražda', 'obchod s lidmi', 'únos']]

In [ ]:
df2 = df2.reset_index()
for x in range(len(df2['types'])):
  for i in range(len(crime_lists)):
    if df2.loc[x,'types'] in crime_lists[i]:
      df2.loc[x,'crime_idx'] = (i+1)**2

In [ ]:
df2.head()

,index,id,x,y,date,types,crime_idx
0,58,7917760,14.406693,50.068626,2017-01-02,vloupání do bytu,9.0
1,59,7917762,14.511259,49.995567,2017-01-02,vloupání do rodinných domů,9.0
2,60,7917787,14.437774,50.005458,2017-01-02,krádeže součástek aut,4.0
3,61,7917799,14.441282,50.125784,2017-01-02,krádeže součástek aut,4.0
4,62,7917812,14.305693,50.072810,2017-01-02,krádeže součástek aut,4.0

In [ ]:
df2.describe()

,index,id,x,y,crime_idx
count,115087.000000,1.150870e+05,115087.000000,115087.000000,115087.000000
mean,10094.419630,1.259592e+07,14.448471,50.074510,6.737738
std,6303.139654,3.083864e+06,0.057758,0.031165,2.639213
min,0.000000,7.917760e+06,14.252392,49.945697,1.000000
25%,4804.500000,9.977744e+06,14.419587,50.056878,4.000000
50%,9600.000000,1.232816e+07,14.440119,50.077875,9.000000
75%,14715.500000,1.448050e+07,14.481332,50.090916,9.000000
max,25027.000000,1.970392e+07,14.696000,50.169963,16.000000

In [ ]:
df2['cut_x'] = pd.cut(df2['x'], 250)

In [ ]:
df2['cut_y'] = pd.cut(df2['y'], 250)

Maximalni datum je datetime.date(2022, 10, 27)

In [ ]:
max(df2['date'])

datetime.date(2022, 10, 27)

In [ ]:
from dateutil.relativedelta import relativedelta

In [ ]:
relativedelta(max(df2['date']), min(df2['date']))

relativedelta(years=+5, months=+9, days=+25)

In [ ]:
difference_in_years = relativedelta(max(df2['date']), min(df2['date'])).years
difference_in_years

5

In [ ]:
df2.loc[0, 'date']

datetime.date(2017, 1, 2)

In [ ]:
def discount_crimes(discount, df):
  df['disc_index'] = 0
  df['disc_index'] = [discount**(relativedelta(max(df['date']), df.loc[x,'date']).years)*x 
                      for x in df['index']]
  return df

In [ ]:
discount_factor = 0.9
df2['disc_index'] = 0
N = len(df2['crime_idx'])
for i in range(N):
  df2.loc[i, 'disc_index'] = discount_factor**(relativedelta(max(df2['date']), df2.loc[i,'date']).years)*df2.loc[i,'crime_idx']

5000 trvalo cca 64sec

1000 12sec

FULL 23min 17sec

In [ ]:
df2.tail()

,index,id,x,y,date,types,crime_idx,cut_x,cut_y,disc_index
115082,12788,19656779,14.315833,50.069531,2022-10-26,krádeže součástek aut,4.0,"(14.314, 14.316]","(50.0695, 50.0704]",4.0
115083,12789,19656917,14.472246,50.069943,2022-10-26,krádeže motorových vozidel (dvoustopových),9.0,"(14.471, 14.472]","(50.0695, 50.0704]",9.0
115084,12790,19657135,14.494546,50.100211,2022-10-26,dopravní nehody,1.0,"(14.494, 14.495]","(50.1, 50.1009]",1.0
115085,12791,19657389,14.437646,50.047865,2022-10-26,krádeže součástek aut,4.0,"(14.437, 14.439]","(50.0471, 50.048]",4.0
115086,12792,19657842,14.432017,50.053607,2022-10-27,krádeže součástek aut,4.0,"(14.432, 14.433]","(50.0533, 50.0542]",4.0

In [ ]:
df2.to_csv('discounted_crime.csv', index=True)